<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting a visa</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="setting" >
        <h3>Random persons setting</h3>
        <hr>
        <h4>Men:</h4>
        <div class="data-input">
            <label for="manMinAgeInput">min age</label>
            <input id="manMinAgeInput" type="number" class="data-input__input data-input__input_number" min="1" max="99"/>
        </div>
        <div class="data-input">
            <label for="manMaxAgeInput">max age</label>
            <input id="manMaxAgeInput" type="number" class="data-input__input data-input__input_number"  min="1" max="99">
        </div>
        <div class="data-input">
            <label for="manMinBankAmountInput">min bank account</label>
            <input id="manMinBankAmountInput" type="number" class="data-input__input data-input__input_amount" min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="manMaxBankAmountInput">max bank account</label>
            <input id="manMaxBankAmountInput" type="number" class="data-input__input data-input__input_amount" min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="manMinHealthInput">min health</label>
            <input id="manMinHealthInput" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <div class="data-input">
            <label for="manMaxHealthInput">max health</label>
            <input id="manMaxHealthInput" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <br>
        <hr>
        <h4>Women:</h4>
        <div class="data-input">
            <label for="womanMinAgeInput">min age</label>
            <input id="womanMinAgeInput" type="number" class="data-input__input data-input__input_number" min="1" max="99">
        </div>
        <div class="data-input">
            <label for="womanMaxAgeInput">max age</label>
            <input id="womanMaxAgeInput" type="number" class="data-input__input data-input__input_number"  min="1" max="99">
        </div>
        <div class="data-input">
            <label for="womanMinBankAmountInput">min bank account</label>
            <input id="womanMinBankAmountInput" type="number" class="data-input__input data-input__input_amount"  min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="womanMaxBankAmountInput">max bank account</label>
            <input id="womanMaxBankAmountInput" type="number" class="data-input__input data-input__input_amount"  min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="womanMinHealthInput">min health</label>
            <input id="womanMinHealthInput" type="number" class="data-input__input data-input__input_number"  min="0" max="100">
        </div>
        <div class="data-input">
            <label for="womanMaxHealthInput">max health</label>
            <input id="womanMaxHealthInput" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <div class="data-input">
            <label for="quantityOfPersons">quantity of persons</label>
            <input id="quantityOfPersons" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <br>
        <hr>
        <button id="generateBtn">GENERATE</button>
        <button class="btn" id="openModal" style="position: relative; left:20px;">Add person</button>
    </div>
    <div class="content" id="content"></div>
    <div id="validate">
        <h3>Validate</h3>
        <hr>
        <h4>Men:</h4>
        <div class="data-input">
            <label for="manMinAgeValidator">min age</label>
            <input id="manMinAgeValidator" type="number" class="data-input__input data-input__input_number"  min="1" max="99">
        </div>
        <div class="data-input">
            <label for="manMaxAgeValidator">max age</label>
            <input id="manMaxAgeValidator" type="number" class="data-input__input data-input__input_number" min="1" max="99">
        </div>
        <div class="data-input">
            <label for="manMinBankAmountValidator">min bank account</label>
            <input id="manMinBankAmountValidator" type="number" class="data-input__input data-input__input_amount" min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="manMaxBankAmountValidator">max bank account</label>
            <input id="manMaxBankAmountValidator" type="number" class="data-input__input data-input__input_amount"  min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="manMinHealthValidator">min health</label>
            <input id="manMinHealthValidator" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <div class="data-input">
            <label for="manMaxHealthValidator">max health</label>
            <input id="manMaxHealthValidator" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <br>
        <h4>Women:</h4>
        <div class="data-input">
            <label for="womanMinAgeValidator">min age</label>
            <input id="womanMinAgeValidator" type="number" class="data-input__input data-input__input_number" min="1" max="99">
        </div>
        <div class="data-input">
            <label for="womanMaxAgeValidator">max age</label>
            <input id="womanMaxAgeValidator" type="number" class="data-input__input data-input__input_number" min="1" max="99">
        </div>
        <div class="data-input">
            <label for="womanMinBankAmountValidator">min bank account</label>
            <input id="womanMinBankAmountValidator" type="number" class="data-input__input data-input__input_amount" min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="womanMaxBankAmountValidator">max bank account</label>
            <input id="womanMaxBankAmountValidator" type="number" class="data-input__input data-input__input_amount" min="1" max="999999">
        </div>
        <div class="data-input">
            <label for="womanMinHealthValidator">min health</label>
            <input id="womanMinHealthValidator" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <div class="data-input">
            <label for="womanMaxHealthValidator">max health</label>
            <input id="womanMaxHealthValidator" type="number" class="data-input__input data-input__input_number" min="0" max="100">
        </div>
        <br>
        <hr>
        <button class="btn" id="startBtn">Start Check</button>
        <button id="clearBtn" class="btn">Clear All</button>
    </div>

    <div id="modal" class="visible"> </div>

    <div class="addPersonForm visible">
        <img src="../img/крестик.png" alt="" class="cross">
        <img src="../img/avatar.png" alt="" class="img">

        <h3 class="modal-title">Enter person details</h3>
        <label for="firstNameInput">Name</label><br>
        <input type="text" id="firstNameInput" maxlength="16" placeholder="Your name" class="input"><br>

        <label for="lastNameInput">Last name</label><br>
        <input type="text" id="lastNameInput" maxlength="16" placeholder="Your last name" class="input"><br>

        <input id="genderInputMale" type="radio" class="input input-radio" value="male" name="gender" checked>
        <label for="genderInputMale">Man</label>

        <input id="genderInputFemale" type="radio" class="input input-radio" value="female" name="gender">
        <label for="genderInputFemale">Woman</label><br>

        <label for="ageInput">Age</label>
        <input id="ageInput" type="number" class="input input-number" onkeypress="return false" max="99"><br>

        <label for="bankAmountInput">Bank Amount</label>
        <input id="bankAmountInput" type="number" class="input input_amount" min="1" max="1000000"><br>

        <label for="healthInput">Health Status</label>
        <input id="healthInput" type="number" class="input input-number" max="99"><br>

        <input id="hasPassportInput" type="checkbox" class="input input-radio"  name="haspasport">
        <label for="hasPassportInput">Has Pasport</label><br>

        <div>
            <button id="addPersonByInput" class="addPerson">OK</button>
        </div>
    </div>

    <script src = "../controller/faker.js" type = "text/javascript"></script>
    <script src="../model/store.js"></script>
    <script src="../controller/modalWindow.js"></script>
    <script src="../controller/promise.js"></script>
    <script src="../controller/person.js"></script>
    <script src="../controller/persons.js"></script>
    <script src="./view.js"></script>
    <script src="../controller/index.js"></script>
</body>
</html>